https://tracinsy.ewi.tudelft.nl/pubtrac/GeniusWebPython/export/86/geniuswebcore/dist/geniusweb-1.2.1.tar.gz
plotly==5.6.0
kaleido==0.2.1
pandas==1.4.1
numpy==1.22.3
scipy==1.8.0
lightgbm==3.3.2
scikit-learn==1.0.2
tensorboard==2.8.0
tensorflow==2.8.0
torch==1.11.0